@import 'tailwindcss';

@font-face {
  font-family: "Anthropic Serif";
  src: url('assets/fonts/AnthropicSerif.woff2');
}

@font-face {
  font-family: "Anthropic Sans";
  src: url('assets/fonts/AnthropicSans.woff2');
}

@font-face {
  font-family: "Anthropic Mono";
  src: url('assets/fonts/AnthropicMono.woff2');
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card: var(--card);
  --color-card-secondary: var(--card-secondary);
  --color-sidepanel: var(--sidepanel);
  --color-border: color-mix(in srgb, var(--border) 15%, transparent);
  --color-chat-bubble: var(--chat-bubble);
  --color-code-foreground: var(--code-foreground);
  --color-code-background: var(--code-background);
  --font-sans: "Anthropic Sans";
  --font-serif: "Anthropic Serif";
}

:root {
  --primary: #d97757;
  --accent: #efeeeb;
  --background: #f8f8f6;
  --foreground: #0b0b0b;
  --foreground-secondary: #31312f;
  --muted-foreground: #7b7974;
  --card: #ffffff;
  --card-secondary: #f9f9f7;
  --sidepanel: #f7f7f4;
  --border: #1F1F1E;
  --chat-bubble: #efeeeb;
  --code-foreground: #8d2525;
  --code-background: #eeeeec;
}

.dark {
  --primary: #d97757;
  --accent: #121212;
  --background: #1f1f1e;
  --foreground: #ffffff;
  --foreground-secondary: #c3c2b7;
  --muted-foreground: #97958c;
  --card: #2c2c2a;
  --card-secondary: #363635;
  --sidepanel: #1d1d1c;
  --border: #E2E1DA;
  --chat-bubble: #121212;
  --code-foreground: #e59e9e;
  --code-background: #272725;
}

strong {
  font-weight: 500;
}

pre {
  padding: 8px; 
  width: 100%;
}

code {
  color: var(--code-foreground);
  background-color: var(--code-background);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
  border-color: var(--color-border);
  border-width: 1px;
}

pre {
  background-color: #252524;
  color: var(--foreground);
  font-family: var(--font-sans);
  padding: 8px; 
  width: 100%;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid var(--color-border);
  text-overflow: clip;
}

pre code {
  border: none;
  color: inherit;
  background-color: inherit;
  text-wrap: wrap;
}

hr {
  color: color-mix(in srgb, var(--border) 25%, transparent);
}

input:focus {
  outline: none;
}